
#footer{
    width:1200px;
    height:100px;
    background-color: brown;
}
#footer>#logo{
    float:left;
    width:300px;
    height:100px;
    background-color: darkkhaki;
}
#footer>#copyright{
    float:left;
    width:800px;
    height:100px;
    background-color: darkgreen;
}
#footer>#sns{
    float:left;
    width:300px;
    height:100px;
    background-color: darkmagenta;
}