*{
    margin:0;
    padding:0;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
#main {
    width:1400px;
    height:950px;
    margin: 0 auto;
}
#header{
    width:1400px;
    height:100px;
    padding-bottom: 40px;
}
#header>#logo1{
    float:left;
    width:300px;
    height:100px;
    background-color: bisque;
}
#logo1>img{
    float:left;
    width:300px;
    height:100px;
}
#header>#title{
    float:left;
    width:800px;
    height:100px;
    text-align: center;
}
#header>#title>h1{
    padding-top:30px;
    box-sizing: border-box;
}
#header>#top{
    float:left;
    width:300px;
    height:100px;
    padding-top:30px;
    box-sizing: border-box;
}
#main2{
    display:block;
    width: 1400px;
}
#main2>#maintitle{
    padding: 0 0 30px 100px;
}
#main2>#rectangle{
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    height: 600px;
    border: 2px solid black;
    border-radius: 50px;
}
#main2>#rectangle>.johoi{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding-right: 0px;
}
#main2>#rectangle>.johoi#n1{
    border-right: 2px solid black;
    width:33%;
}
#main2>#rectangle>.johoi#n2{
    border-right: 2px solid black;
    width:34%;
}
#main2>#rectangle>.johoi#n3{
    width:33%;
}
#n1>img{
    margin-bottom: 50px;
}
#n1>button{
    background-color: skyblue;
    font-weight: bold;
    height:40px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 0px 30px;
}
#n2>img{
    width:200px;
    height:370px;
}
#n3>img{
    width:300px;
    height:400px;
}
#n1>h2{
    padding:40px 0px 20px 0px;
}
.johoi>h2{
    padding-top:40px;
}