#contents{
    width:1200px;
    height:200px;
    background-color: blueviolet;
}
#contents>#cont1{
    float:left;
    width:480px;
    height:200px;
    background-color: cornflowerblue;
}
#contents>#cont2{
    float:left;
    width:360px;
    height:200px;
    background-color: darkblue;
}
#contents>#cont3{
    float:left;
    width:360px;
    height:200px;
    background-color: darkcyan;
}
