
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
#main {
    width:1400px;
    height:950px;
    margin: 0 auto;
}
#header{
    width:1400px;
    height:100px;
    padding-bottom: 40px;
}
#header>#logo1{
    float:left;
    width:200px;
    height:100px;
    background-color: bisque;
}
#logo1>img{
    float:left;
    width:200px;
    height:100px;
}
#header>#title{
    float:left;
    width:900px;
    height:100px;
    text-align: center;
}
#header>#title>h1{
    padding-top:30px;
    box-sizing: border-box;
}
#header>#top{
    float:left;
    width:300px;
    height:100px;
    padding-top:30px;
    box-sizing: border-box;
}
#main2{
    display:block;
    width: 1200px;
}
#main2>#maintitle{
    padding: 0 0 30px 100px;
}
#maintitle>h1{
    font-size:45px;
    border-bottom: 3px solid #DAE8BE;
}
.g_class{
    display: grid;
    width: 1200px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 300px 300px;
    border: 4px solid #DAE8BE;
    border-radius: 50px;
    margin-left:40px;
}
.g_class>.g1.g2{
    display:grid;
}
.g_class>.g1{
    display:grid;
}
.g_class>.g2{
    display: grid;
}
.g_class>.g3{
    display:grid;
}
.g_class>.g1{
    border-bottom: 4px solid #DAE8BE;
}

.g_class>.g2{
    border-right: 4px solid #DAE8BE;
}
.g_class>.g1.g2>img{
    margin: 40px 0px 0px 220px;
    width:150px;
    height:150px;
}
.g_class>.g1.g2>a{
    font-size: 25px;
    font-weight:bold;
    margin-left:240px;
}
.g_class>.g1>img{
    margin: 40px 0px 0px 220px;
    width:150px;
    height:150px;
}
.g_class>.g1>a{
    font-size: 25px;
    font-weight:bold;
    margin-left:120px;
}
.g_class>.g2>img{
    margin: 40px 0px 0px 230px;
    width:150px;
    height:150px;
}
.g_class>.g2>a{
    font-size: 25px;
    font-weight:bold;
    margin-left:240px;
}
.g_class>.g3>img{
    margin: 40px 0px 0px 220px;
    width:150px;
    height:150px;
}
.g_class>.g3>a{
    font-size: 25px;
    font-weight:bold;
    margin-left:200px;
}